* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1130px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background: url(../images/header-bg.jpg) center / cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    z-index: -3;
}

.nav {
    background: #322E41;
    transition: 0.5s;
}

.header-lists {
    display: flex;
}

.logo {
    display: block;
    margin: 14px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    padding: 23px 14px;
    color: #FFFFFF;
    line-height: 19px;
    font-size: 16px;
    font-family: 'Roboto-Regular';
}

.header-link:hover {
    background-color: #FFFFFF;
    color: #D47300;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header-title {
    margin-bottom: 15px;
    color: #FFFFFF;
    line-height: 59px;
    font-size: 50px;
    font-family: 'Roboto-Bold';
}

.header-description {
    color: #FFFFFF;
    line-height: 21px;
    font-size: 18px;
    font-family: 'Roboto-Regular';
}

.span {
    font-family: 'Roboto-Bold';
}

.burger-menu {
    display: none;
}

.main {
    background: #E5E5E5;
}

.main__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px; 
    position: relative;
    z-index: 500;
    bottom: 30px;
}

.main__content-card:nth-child(1){
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.main__content-card {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}   

.main__card-img {
    width: 100%;
}

.main__card-title {
    color: #2C2A2A;
    font-family: 'Roboto-Bold';
    font-size: 22px;
    line-height: 19px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left__card-title {
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main__card-description {
    color: #9B9B9B;
    line-height: 16px;
    font-size: 16px;
    font-family: 'Roboto-Regular';
}

.left__card-description {
    line-height: 19px;
}

.footer {
    background: #322E41;
    padding: 37px 0 57px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav {
    display: flex;
}

.footer__left-list {
    margin-right: 68px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__right-list {
    display: flex;
    flex-direction: column;
}

.footer__form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.footer__form-name {
    padding: 8px 0 8px 8px;
    border-radius: 6px;
    margin-bottom: 10px;
    color: #9B9B9B;
    font-family: 'Roboto-Regular';
    line-height: 18px;
    font-size: 18px;
    border: none;
    outline: none;
}

.footer__form-massage {
    border: none;
    outline: none;
    color: #9B9B9B;
    font-family: 'Roboto-Regular';
    line-height: 18px;
    font-size: 18px;
    margin-bottom: 11px;
    border-radius: 6px;
    padding: 8px 0 0 8px;
    height: 86px;
    resize: none;
}

.footer__form-btn {
    background: #544294;
    border-radius: 6px;
    padding: 4px 0;
    color: #FFFFFF;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    line-height: 18px;
    border: none;
}

.footer__link {
    line-height: 19px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Roboto-Regular';
    display: inline-block;
    transition: 0.5s;
    margin-bottom: 10px;
}

.footer__link:hover {
    color: #D57300;
}
@media (max-width: 1060px) {
    .left__card-description {
        max-width: 550px;
        width: 100%;
    }
    .footer__content {
        justify-content: space-evenly;
    }
}
@media (max-width:960px) {
    .navbar {
        justify-content: space-between;
    }

    .main__content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes anim {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

@media (max-width:800px) {
    .nav {
        position: fixed;
        width: 100%;
        z-index: 1000;
    }
    .header-lists {
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        top: 0;
        right: 0;
        width: 60vw;
        height: 100vh;
        background: #322E41;
        transition: all .4s;
        animation: anim .6s;
    }

    .active {
        display: flex;
    }

    .header-link {
        padding: 0;
    }

    .header-link:hover {
        background: inherit;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1001;
    }

    .burger-line {
        height: 3px;
        width: 30px;
        background: #FFFFFF;
    }

    .burger-line:nth-child(1){
        width: 13px;
    }

    .burger-line:nth-child(2){
        width: 22px;
    }

    .footer__content {
        justify-content: space-around;
    }
}
@media (max-width:760px) {
    .main__content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:650px) {
    .header-lists {
        width: 100vw;   
    }
    .right__card-img {
        max-width: 85px;
        width: 100%;
    }
    .footer {
        padding: 20px 0 30px 0;
    }
    .footer__content {
        max-width: 645px;
        width: 100%;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .footer__nav {
        margin-top: 20px;
    }
}
@media (max-width:570px) {
    .main__content-card {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .main__content-card {
        grid-column: 1 / span 2;
    }
    .header-content {
        padding: 0 15px;
    }
}